body {
	background-color: lightslategrey;
	text-align: center;
	font-family: "Helvetica", sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.invisible {
	display: none;
}
